*{
    margin: 0;
    padding: 0;
}

.titulo-header {
    width: 100%;
    height: 50px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    background-color: rgb(15, 23, 53);
}